#tableWrapper, #tableWrapper td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
body{
    margin: 50px;
    background-color:navajowhite;
}
.greenBackground {
    background: rgb(103, 212, 103) !important;
}
#redBackground{
    background: red;
}
.completeBtn{
    background: yellow;
}
.grayBackground{
    background: lightgray;
}